.register-page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.register-form label {
  color: #2111b7;
}

.success-text {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}

.register-form {
  max-width: 400px;
  width: 100%;
  background: rgba(250, 106, 195, 0.64);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.error-text {
  color: #d9534f;
  font-size: 0.9rem;
  margin-left: 10px;
}